* {
  padding: 0;
  margin: 0;

  border: 0;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #faf0e6;
}

.colunaUm {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 400px;
}

.colunaDois {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_login {
  width: 400px;
}

.box-login {
  box-shadow: 0 2px 3px #a9a9a9, 0 10px 15px #a9a9a9;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  height: 300px;
}

.titulo_login {
  text-align: center;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  color: #1e90ff;
  margin-bottom: 20px;
}

.inputs_login {
  margin-top: 15px;
  padding-left: 10px;
  width: 323px;
  height: 45px;
  border: none;
  background-color: #ffffe0;
  border-radius: 5px;
  outline: none;
  color: #f08080;
}

.inputs_login::placeholder {
  color: #f08080;
}

.botao_entrar {
  display: block;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 338px;
  height: 40px;
  letter-spacing: 1px;
  background-color: #48d1cc;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.botao_entrar:hover {
  background-color: #87cefa;
  transition: 300ms;
}

.botao_criar_conta {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 338px;
  height: 40px;
  letter-spacing: 1px;
  background-color: #ff6347;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.botao_criar_conta:hover {
  background-color: #ffa07a;
  transition: 300ms;
}

.background-recados {
  background-color: #faf0e6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button {
  width: 80px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

.centralizar_recados {
  box-shadow: 0 2px 3px #a9a9a9, 0 10px 15px #a9a9a9;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  width: 1050px;
}

.inputRecados {
  margin-left: 20px;
  margin-top: 5px;
  padding-left: 10px;
  height: 35px;
  border: none;
  outline: none;
  background-color: #ffffe0;
  color: #f08080;
  border-radius: 5px;
  width: 310px;
}

.inputRecados::placeholder {
  color: #f08080;
}

.titulo-recados {
  color: #1e90ff;
  padding-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.titulo-th {
  color: #1e90ff;
  width: 200px;
}

.detalhamento-th {
  color: #1e90ff;
  width: 300px;
}

.descricao-th {
  color: #1e90ff;
  width: 300px;
}

.acoes-th {
  color: #1e90ff;
  width: 470px;
}

.btn-salvar {
  background-color: #48d1cc;
  color: #fff;
  border: none;
  height: 35px;
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-salvar:hover {
  background-color: #87cefa;
  transition: 250ms;
}

.botao-sair-recados {
  background-color: #ff6347;
  color: #fff;
  border: none;
  height: 35px;
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
}

.botao-sair-recados:hover {
  background-color: #ffa07a;
  transition: 250ms;
}

.btn-editar {
  background-color: #54ab72;
}

.btn-editar:hover {
  background-color: #144405df;
  transition: 250ms;
}

.btn-apagar {
  background-color: rgb(196, 64, 64);
}

.btn-apagar:hover {
  background-color: #700416;
  transition: 250ms;
}

.titulo-td {
  color: #f08080;
}

.descricao-td {
  color: #f08080;
}

.registro-indice {
  width: 40px;
  color: #1e90ff;
}
